<div class="container">
  <% if comment.body? %>
    <p>
      <strong><%= t('comments.show.commenter') %></strong>
      <%= comment.user.email %>
    </p>

    <p>
      <strong><%= t('comments.show.comment') %></strong>
      <%= comment.body %>
    </p>
    <p>
      <strong><%= t('comments.show.rating') %></strong>
      <%= comment.rating %>
    </p>

    <p>
      <%= link_to t('destroy'), [comment.product, comment], method: :delete,
                  data: { confirm: t('confirmation') }, class:'link' %>
    </p>
  <% end %>
</div>