<div class="container">
  <h1>Categories</h1>
  <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %>
  <table>
    <tr>
      <th>Title</th>
      <th>desc</th>
    </tr>
    <ul>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %> </td>
          <td><%=h truncate(category.description, length: 100) %></td>
          <td><%= link_to 'Show', admin_category_path(category) %></td>
          <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
          <td><%= link_to 'Destroy', admin_category_path(category), method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </ul>
  </table>
  <div class="row justify-content-center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>