<div class="container">
  <div class="form-inline">
    <%= form_tag(admin_categories_path, method: "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: t('search'), class:'form-control' %>
      <button type="submit" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
    <% end %>
  </div>
  <h1><%= t('all_categories') %></h1>
  <%= link_to t('categories.new.title'), new_admin_category_path, class: 'btn btn-primary' %>
  <table>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('description') %></th>
      <th><%= t('actions') %></th>
    </tr>
    <ul>
      <% if @categories.present? %>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to admin_category_path(category), class:'link' do %>
                <%= category.title %>
              <% end %>
            </td>
            <td><%= h truncate(category.description, length: 100) %></td>
            <td>
              <%= link_to t('show'), admin_category_path(category) %>
              <%= link_to t('edit'), edit_admin_category_path(category) %>
              <%= link_to t('destroy'), admin_category_path(category), method: :delete,
                            data: { confirm: t('confirmation') } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td class="search alert alert-secondary" colspan="3">
          <%= t('found_nothing') %> <%= params[:search] %>.
        </td>
      <% end %>
    </ul>
  </table>
  <div class="row justify-content-center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>