<div class="container" >
  <div class="show">
    <p>
      <strong>Title: </strong><h2><%= @category.title.capitalize %></h2>
    </p>
    <p>
      <strong>Description: </strong><%= @category.description.capitalize %>
    </p>
    <p>
      <%= image_tag @category.image_url(:large) if @category.image? %>
    </p>
  </div>
  <div class="links">
    <%= link_to 'Edit', edit_admin_category_path(@category) %>
    <%= link_to 'Destroy', admin_category_path(@category), method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', :back %>
  </div>
  <h4>Products in <%= @category.title.capitalize %></h4>
  <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-primary' %>
  <table>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>desc</th>
      <th>price</th>
      <th>Actions</th>
    </tr>
    <ul>
      <% if @category.products.present? %>
        <% @category.products.each do |products| %>
          <tr>
            <td>
              <%= link_to admin_product_path(products), class:'link' do %>
                <%= products.title %>
              <% end %>
            </td>
            <td><%= products.category.title %> </td>
            <td><%=h truncate(products.description, length: 100) %></td>
            <td><%= products.price %></td>
            <td>
              <%= link_to 'Show', admin_product_path(products) %>
              <%= link_to 'Edit', edit_admin_product_path(products) %>
              <%= link_to 'Destroy', admin_product_path(products), method: :delete,
                            data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td class="search alert alert-secondary">
          empty..
        </td>
      <% end %>
    </ul>
  </table>
  <div class="row justify-content-center">
    <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>