<% set_page_title(@category.title) %>
<div class="container" >
  <div class="show">
    <p>
      <strong><%= t('title') %>: </strong><h2><%= @category.title.capitalize %></h2>
    </p>
    <p>
      <strong><%= t('description') %>: </strong><%= @category.description.capitalize %>
    </p>
    <p>
      <%= image_tag @category.image_url(:large), class: 'image' if @category.image? %>
    </p>
  </div>
  <div class="links">
    <%= link_to t('edit'), edit_admin_category_path(@category), class: 'btn btn-outline-light' %>
    <%= link_to t('destroy'), admin_category_path(@category), method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-light' %>
    <%= link_to t('back'), :back, class: 'btn btn-outline-light' %>
  </div>
  <br>
  <%= link_to t('new_product'), new_admin_product_path, class: 'btn btn-primary' %>
  <h4><%= t('categories.show.inside') %> <%= @category.title.capitalize %></h4>
  <table>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('category') %></th>
      <th><%= t('description') %></th>
      <th><%= t('price') %></th>
      <th><%= t('avg_rating') %></th>
      <th><%= t('times_rated') %></th>
      <th><%= t('actions') %></th>
    </tr>
    <ul>
      <% if @category.products.present? %>
        <% @category.products.each do |products| %>
          <tr>
            <td>
              <%= link_to admin_product_path(products), class:'link' do %>
                <%= products.title %>
              <% end %>
            </td>
            <td>
              <% products.categories.each do |category| %>
                <%= link_to category.title, admin_category_path(category.id), class: 'link' %>
              <% end %>
            </td>
            <td><%= sanitize(products.description.to_s[0..100]) %></td>
            <td><%= products.price %></td>
            <th>
              <%= count_average_rating(products).round(1) %> <i class="fas fa-star"></i>
            </th>
            <td><%= products.cached_comments_total %></td>
            <td>
              <%= link_to t('show'), admin_product_path(products) %>
              <%= link_to t('edit'), edit_admin_product_path(products) %>
              <%= link_to t('destroy'), admin_product_path(products), method: :delete,
                            data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td class="search alert alert-secondary" colspan="8">
          <%= t('empty') %>
        </td>
      <% end %>
    </ul>
  </table>
  <div class="row justify-content-center">
    <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() { // Ждём загрузки страницы
        $(".image").click(function(){	// Событие клика на маленькое изображение
            var img = $(this);	// Получаем изображение, на которое кликнули
            var src = img.attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append("<div class='popup'>"+ //Добавляем в тело документа разметку всплывающего окна
                "<div class='popup_bg'></div>"+ // Блок, который будет служить фоном затемненным
                "<img src='<%= @category&.image_url %>' class='popup_img' />"+ // Само увеличенное фото
                "</div>");
            $(".popup").fadeIn(200); // Медленно выводим изображение
            $(".popup_bg").click(function(){	// Событие клика на затемненный фон
                $(".popup").fadeOut(200);	// Медленно убираем всплывающее окн
                setTimeout(function() {	// Выставляем таймер
                    $(".popup").remove(); // Удаляем разметку всплывающего окна
                }, 200);
            });
        });
    });
</script>