<div class="container">
  <%= link_to t('destroy'), purchase_cart_path(@cart), method: :delete,
              data: { confirm: t('confirmation') }, class: 'btn btn-outline-light' %>
  <%= link_to 'CheckOut', new_purchase_order_path(cart: @cart),
              data: { confirm: t('confirmation') }, class: 'btn btn-outline-light' %>
  <%= link_to 'orders', purchase_orders_path, class: 'btn btn-outline-light' %>
  <p>
    <b>Total: <%= @cart.total_price %></b>
  </p>
  <div class="justify-content-center " >
    <% @cart_items.each do |cart_item| %>
      <br>
      <%= cart_item.product.title %>
      <div style="max-height: 200px; max-width: 200px">
        <% if cart_item.product.images? %>
          <%= image_tag cart_item.product.images.first.url(:small), class:'index_image' %>
        <% else %>
          <%= image_tag("https://picua.org/images/2019/12/27/31783d15d36cb0de20e5556443e01916.jpg",
                        class:'alt_image index_image') %>
        <% end %>
      </div>
      <%= cart_item.quantity %>
      <br>
      <%= cart_item.price %>
      <%= link_to 'add one', purchase_increase_cart_item_path(id: cart_item.id), style: 'color: red;' %>
      <%= link_to 'remove one', purchase_decrease_cart_item_path(id: cart_item.id), style: 'color: red;' %>
      <%= link_to t('destroy'), purchase_cart_item_path(cart_item), method: :delete,
                  data: { confirm: t('confirmation') } %>
      <br>
    <% end %>
  </div>
</div>