<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thank you for your order, dear <%= @order.full_name %></h1>
<h2>We'll send it as soon as we can!</h2>
<div>
  <h3>Order id: <b><%= @order.id %></b></h3>
  <table>
    <tr>
      <th>Product name </th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <ul>
      <% @order.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </ul>
  </table>
  <h2>Total price: <b><%= @order.total_price %></b></h2>
</div>
<div>
  If you want to edit your order or discard - contact with as!
  Thanks in advance!
</div>
<footer>
  <i>Created by Denys Taradada</i>
</footer>
</body>
</html>