<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> GeeKHub SHOP</h1>
<h2> <%= t('mailer.order.dear') %> <%= @order.full_name.capitalize %><%= t('mailer.order.order_changed') %></h2>
<div>
  <h3><%= t('mailer.order.order_id') %><b><%= @order.id %></b></h3>
  <table>
    <tr>
      <th><%= t('mailer.order.product') %></th>
      <th><%= t('mailer.order.quantity') %></th>
      <th><%= t('mailer.order.price') %></th>
    </tr>
    <ul>
      <% @order.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </ul>
  </table>
  <h3><%= t('backoffice.orders.show.address') %> <%= @order.address.capitalize %></h3>
  <h2><%= t('mailer.order.total_price') %> <b><%= @order.total_price %></b></h2>
  <h1><%= t('backoffice.orders.index.status') %> <b><i><%= @order.status %></i></b></h1>
</div>
<div>
  <%= t('mailer.order.if_edit') %>
</div>
<p>
  <i><%= t('mailer.common.created_by') %></i>
</p>
</body>
</html>