<div class="container">
  <%= form_with(model: [ :admin, @product ],local: true) do |form| %>
    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <h2>
          <%= pluralize(@product.errors.count, "") %>
          <%= @product.errors.count > 1 ? t('errors') : t('error')  %>
        </h2>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :title, class:'form-control' %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.rich_text_area :description %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_area :price, class: "form-control", type: "number" %>
    </div>

    <div class="field">
      <% if @product.save %>
        <h3><%= t('.existed_images') %></h3>
        <% @product.images.each_with_index do |image, index| %>
          <li>
            <%= image_tag(image.url(:large)) %>
            <%= link_to t('destroy'), product_image_path(@product, index),method: :delete,
                        data: { confirm: t('confirmation') }, class: "text-center" %>
          </li>
        <% end %>
      <% end %>
        <div class="upload-preview field">
          <h3><%= t('.overiting_notice') %></h3>
          <img />
        </div>
    </div>

    <div class="field">
      <%= form.file_field :images, multiple: true, class: "file" %>
    </div>

    <br>
    <div class="text-center actions">
      <%= form.submit t('.submit', action: @product.new_record? ? t('create') : t('edit')), class: "btn btn-light" %>
    </div>
  <% end %>

  <div class="links">
    <% if @product.save %>
      <h3><%= t('.add_image') %></h3>
      <%= form_for @product, url: product_images_path(@product), method: :post do |f|  %>
        <%= f.file_field :images, multiple: true %>
        <%= f.submit t('.add_more'), class: 'btn btn-outline-info' %>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<script>
    document.querySelector('.file').addEventListener('change', event => {
        [...event.target.files].forEach(file => {
            const url = URL.createObjectURL(file)
            addImageToBody(url)
        })
    })
    // add image to html
    function addImageToBody (src) {
        const img = document.createElement('img')
        img.src = src
        img.className = 'my-img'
        $('.upload-preview').append(img)
    }
</script>