<div class="container">
  <%= form_with(model: [ :admin, @product ],local: true) do |form| %>
    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.collection_select(:category_id, Category.all, :id, :title, class:'form-control' ) %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_area :price, class: "form-control"%>
    </div>

    <div class="field">
      <h3>Already existed images:</h3>
      <% @product.images.each_with_index do |image, index| %>
        <li>
          <%= image_tag(image.url(:large)) %>
          <%= link_to "Delete", product_image_path(@product, index),method: :delete, data: { confirm: "Are you sure you want to delete this image?" }, class: "text-center" %>
        </li>
      <% end %>
    </div>

    <div class="upload-preview field">
      <h3>Will be overwritten after submit:</h3>
      <img />
    </div>

    <div class="field">
      <%= form.file_field :images, multiple: true, class: "file"%>
    </div>

    <br>
    <div class="text-center actions">
      <%= form.submit 'Submit', class: "btn btn-light" %>
    </div>
  <% end %>

  <div class="links">
    <div>
      <% if @product.images? %>
        <h3>Add to already existed images</h3>
        <%= form_for @product, url: product_images_path(@product), method: :post do |f|  %>
          <%= f.file_field :images, multiple: true %>
          <%= f.submit "Add More Images", class: 'btn btn-outline-info' %>
        <% end %>
      <% end %>
    </div>
</div>
<br>
<script>
    document.querySelector('.file').addEventListener('change', event => {
        [...event.target.files].forEach(file => {
            const url = URL.createObjectURL(file)
            addImageToBody(url)
        })
    })
    // add image to html
    function addImageToBody (src) {
        const img = document.createElement('img')
        img.src = src
        img.className = 'my-img'
        $('.upload-preview').append(img)
    }
</script>

