<div class="container">
  <div class="form-inline">
    <%= form_tag(admin_products_path, method: "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class:'form-control' %>
      <button type="submit" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
    <% end %>
  </div>
  <h1>Products</h1>
  <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-primary' %>
  <table>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <ul>
      <% if @products.present? %>
        <% @products.each do |products| %>
          <tr>
            <td>
              <%= link_to admin_product_path(products), class:'link' do %>
                <%= products.title %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_category_path(products.category_id) do %>
                <%= products.category.title %>
              <% end %>
            </td>
            <td><%=h truncate(products.description, length: 100) %></td>
            <td><%= products.price %></td>
            <td>
              <%= link_to 'Show', admin_product_path(products) %>
              <%= link_to 'Edit', edit_admin_product_path(products) %>
              <%= link_to 'Destroy', admin_product_path(products), method: :delete,
                            data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td class="search alert alert-secondary">
          There are no items containing the term(s) <%= params[:search] %>.
        </td>
      <% end %>
    </ul>
  </table>
  <div class="row justify-content-center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>