<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'GeekHub Shop', home_path ,class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto">
      <li><%= link_to t('all_categories'), admin_categories_path, class: 'nav-link' %></li>
      <li><%= link_to t('all_products'), admin_products_path, class: 'nav-link' %></li>
      <li>
        <% if I18n.locale == :ru  %>
          <%= link_to url_for(locale: :en),class: 'nav-link' do %>
            <i class="fa fa-globe"><b>RU</b></i>
          <% end %>
        <% else %>
          <%= link_to url_for(locale: :ru),class: 'nav-link' do %>
            <i class="fa fa-globe"><b>EN</b></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>