<div class="container">
  <div class="d-flex">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('.sort.sort_by') %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to t('.sort.expensive'), products_path(sort: 'expensive'), class:'dropdown-item' %>
        <%= link_to t('.sort.cheapest'), products_path(sort: 'cheapest'), class:'dropdown-item' %>
        <%= link_to t('.sort.oldest'), products_path(sort: 'oldest'), class:'dropdown-item' %>
        <%= link_to t('.sort.recent'), products_path(sort: 'recent'), class:'dropdown-item' %>
        <%= link_to t('.sort.popular'), products_path(sort: 'popular'), class:'dropdown-item' %>
        <%= link_to t('.sort.best'), products_path(sort: 'best'), class:'dropdown-item' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @products.present? %>
      <% @products.each do |product| %>
        <div class="col-sm-4">
          <div class="mb-4 card text-white bg-secondary ">
            <h2 class="card-header">
              <span class="product_title">
                <%= link_to product.title, (product), class: 'link' %>
              </span>
              <br>
              <em>
                <% product.categories.each do |category| %>
                  <%= link_to category.title, products_path(category: category), class: 'link' %>
                <% end %>
              </em>
            </h2>
            <div class="card-body image_place">
              <%= link_to(product) do %>
                <p class="card-text mx-auto p-0">
                  <% if product.images? %>
                    <%= image_tag product.images.first.url(:medium), class:'index_image' %>
                  <% else %>
                    <%= image_tag("https://picua.org/images/2019/12/27/31783d15d36cb0de20e5556443e01916.jpg",
                                  class:'alt_image') %>
                  <% end %>
                </p>
              <% end %>
              <div>
                <h5 class="card-title price row">
                  <strong class="left"><%= product.price %></strong>
                  <span class="right">
                      <span>
                        <%= count_average_rating(product).round(1) %>
                        <i class="fas fa-star"></i>
                      </span>
                      |
                      <i class="fas fa-cart-arrow-down"></i>
                    </span>
                </h5>
              </div>
              <%= link_to 'add to cart', buy_path(product_id: product.id) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container">
        <p class="search alert alert-secondary">
          <%= t('found_nothing') %> <%= params[:search] %>.
        </p>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center ">
    <%= will_paginate(@things, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>

