  <%= link_to "expensive", products_path(sort: 'expensive') %>
  <%= link_to "cheapest", products_path(sort: 'cheapest') %>
  <%= link_to "oldest", products_path(sort: 'oldest') %>
  <%= link_to "recent", products_path(sort: 'recent') %>
  <%= link_to "popular", products_path(sort: 'popular') %>
  <%= link_to "best", products_path(sort: 'best') %>
  <br>

  <% @categories.each do |category| %>
    <%= link_to(category.title, products_path(category: category)) %>
  <% end %>

<div class="container">
  <div class="row">
    <% if @products.present? %>
      <% @products.each do |product| %>
        <div class="col-sm-4">
          <%= link_to(product) do %>
            <div class="mb-4 card text-white bg-secondary ">
              <h2 class="card-header">
                <span class="product_title"><%= product.title %></span><br>
                <em> in <%= product.category.title %>s</em>
              </h2>
              <div class="card-body image_place">
                <p class="card-text mx-auto p-0">
                  <% if product.images? %>
                    <%= image_tag product.images.first.url(:medium), class:'index_image' %>
                  <% else %>
                    <%= image_tag("https://picua.org/images/2019/12/27/31783d15d36cb0de20e5556443e01916.jpg",
                                  class:'alt_image') %>
                  <% end %>
                </p>
                <div>
                  <h5 class="card-title price row">
                    <strong class="left"><%= product.price %></strong>
                    <span class="right">
                      <span>
                        <% total = product.comments.sum(:rating) %>
                        <i class="fa fa-star"><%= total.to_f / product.comments.count %></i>
                      </span>
                      |
                      <i class="fa fa-cart-arrow-down"></i>
                    </span>
                  </h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="container">
        <p class="search alert alert-secondary">There are no items containing the term(s) <%= params[:search] %>.</p>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center ">
    <%= will_paginate(@things, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>

