<div class="container flash_targe" id="flash_target">
  <div class="navbar">
    <%= link_to home_path do %>
      <div class="logo">
        <img src="https://picua.org/images/2019/12/18/392d23640b342252dc54600a394c47b2.png"  width="300" height="70" alt="logo">
      </div>
    <% end %>
    <%= form_tag(products_path, method: "get", class: 'form-inline', id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: t('search'), class:'form-control mr-sm-2' %>
      <button type="submit" class="search-nav"><i class="fa fa-search link"></i></button>
      <bold>|</bold>
      <button class="search-nav"><i class="fa fa-shopping-cart link"></i></button>
    <% end %>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('all_categories') %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @categories&.each do |category| %>
          <%= link_to products_path(category: category), class:'dropdown-item' do %>
            <span>
              <%= category&.title %>
              <span class="badge badge-dark">
                <%= category&.products.count %>
              </span>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('navbar.contacts') %>
            <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              <%= t('navbar.delivery') %>
            </a>
            <a class="dropdown-item" href="#">
              <%= t('navbar.return') %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <%= t('navbar.how_to_contact') %>
            </a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <%= t('navbar.about') %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.backoffice'), admin_categories_path, class: 'nav-link' %>
        </li>
      </ul>
      <span class="p-2">
          <% if I18n.locale == :ru  %>
            <%= link_to home_path(locale: :en),class: 'link' do %>
              <i class="fa fa-globe"><b>RU</b></i>
            <% end %>
          <% else %>
            <%= link_to home_path(locale: :ru),class: 'link' do %>
              <i class="fa fa-globe"><b>EN</b></i>
            <% end %>
          <% end %>
        </span>
      <div class="nav-item active dropdown">
        <% if current_user %>
          <a class="nav-link dropdown-toggle link" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user&.email %>
          </a>
        <% else %>
          <span class="link">
            <%= link_to t('navbar.authentication.signup'), signup_path, class: 'link' %>
          </span>
          <b> | </b>
          <span class="link">
            <%= link_to t('navbar.authentication.login'), login_path, class: 'link' %>
          </span>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <%= t('navbar.profile') %>
          </a>
          <div class="dropdown-divider"></div>
          <%= link_to logout_path, class: 'dropdown-item' do %>
            <%= t('navbar.authentication.logout') %> <i class="fa fa-sign-out"></i>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>