<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:product_title) ? yield(:product_title) : 'GeekHub SHOP' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>
